/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 Jan, 2018, 5:03:40 PM
    Author     : shani
*/

.header{
    background: #ccc;
    
}

.loader {
    background: url(../img/ajax-loader.gif);
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    min-height: 10px;
    min-width: 20px;
}

.dot{
    border-radius: 4px;
    min-width: 8px; min-height: 8px;
    line-height: 1; top: 1px; display: inline-block;
}

.dot.green{
    background: greenyellow;
    
}

.dot.red{
    background: red;
}

.value.progress{
    height: 18px; margin-bottom: 1px; margin-top: 1px;
}

.value .progress-bar{
    font-size: 12px;
    font-weight: bold;
    padding-left: 10px;
    line-height: 18px;
    text-align: left;
}

.gallery .carousel-cell{
    height: 250px;
    margin-left: 10px;
}
.gallery .carousel-cell img{
    height: 200px;
    width : 300px;
    margin: 0px 10px;
}
.gallery .carousel-cell .caption{
    width : 300px;
    margin: 0px 10px;
    padding: 5px 0px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}
.gallery .carousel-cell .caption2{
    width : 300px;
    margin: 0px 10px;
    padding: 5px 0px;
    text-align: center;
    font-size: 12px;
}

.homenav{
    background: #d9dbfe;
    border-radius: 2px;
    border-top: 1px solid #eaeaea;
    box-shadow : 0 2px 4px 0 #eaeaea;
    margin-bottom: 2px;
    
}

.homebox{
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 2px;
    border-top: 1px solid #eaeaea;
    box-shadow : 0 2px 4px 0 rgba(0, 0, 0, .08);
}

.footer{
    border-bottom: 1px solid #aaa;
    padding-top: 30px;
    padding-bottom: 30px;
    background: black;
}

.product {
    position: relative; width: 25%; float : left; margin-bottom: 40px;
}

.product{
    padding: 16px;
    position: relative;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.product:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.product a{
    position: relative; display: block; text-decoration: none;
}

.product a.title{
    padding: 5px 0;
    overflow: hidden;
    display: block;
    text-align: center;
}
.product div.subtitle{
    color: #878787;
    font-size: 12px;
    padding-bottom: 5px;
    word-wrap: break-word;
    text-align: center;
    text-transform: uppercase;
}
.product a.price{
    display: block;
    padding: 0 10px 0 0;
    margin: 3px 0;
    text-align: center;
}
.product a.price .actual{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: #212121;
}
.product a.price .tagged{
    text-decoration: line-through;
    display: inline-block;
    margin-left: 8px;
    font-size: 14px;
    color: #878787;
}
.product a.price .off{
    display: inline-block;
    margin-left: 8px;
    color: #388e3c;
    font-size: 13px;
    letter-spacing: -0.2px;
    font-weight: 500;
}
.product div.imagecontainer{
    position: relative;
    color: #878787;
    font-size: 12px;
    padding-bottom: 5px;
    word-wrap: break-word;
    margin: 0 auto;
}

.product div.imagecontainer img{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.pricerange input{
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 4px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#designer input,select{
    padding: 5px;
    text-align: center;
    font-weight: bold;
    background: white;
    margin-bottom: 10px;
}

#designer small{
    text-transform: uppercase;
}