/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 Jan, 2018, 5:03:40 PM
    Author     : shani
*/

.loader {
    background: url(../img/ajax-loader.gif);
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    min-height: 10px;
    min-width: 20px;
}

.dot{
    border-radius: 4px;
    min-width: 8px; min-height: 8px;
    line-height: 1; top: 1px; display: inline-block;
}

.dot.green{
    background: greenyellow;
    
}

.dot.red{
    background: red;
}