<div ng-controller="designer">
    <div class="row">
        <div class="col-lg-12">
            <form class="form-inline">
                <label style="width: 150px;" for="type">System Type</label>
                <select style="width: 150px;" id="type" ng-model="inputs.type" class="form-control"  ng-options="key as value for (key,value) in types"></select>
                <label style="margin-left: 20px;width: 180px;" for="dailyunits">Daily Units Required</label>
                <input style="width: 80px;" type="text" id="dailyunits" ng-model="inputs.dailyunits" class="form-control" placeholder="Units / kWh"/>
            </form>
        </div>
        <div class="col-lg-12" style="margin-top: 10px;" ng-if="inputs.type!=='ongrid'">
            <form class="form-inline">
                <label style="width: 150px;" for="backuphrs">Backup Duration</label>
                <input style="width: 150px;" type="text" id="backuphrs" ng-model="inputs.backuphrs" class="form-control" placeholder="Hours"/>
                <label style="margin-left: 20px;width: 180px;" for="backupkw">Load During Power-Cut</label>
                <input style="width: 80px;" type="text" id="backupkw" ng-model="inputs.backupkw" class="form-control" placeholder="Watt"/>
            </form>
        </div>
        <div class="col-lg-12" style="margin-top: 10px;">
            <form class="form-inline">
                <label style="width: 150px;" for="loadmax">Maximum Load</label>
                <input style="width: 150px;" type="text" id="loadmax" ng-model="inputs.loadmax" class="form-control" placeholder="Watt"/>
                <label style="margin-left: 20px;width: 100px;" class="form-label">Use Filter</label>
                <input type="checkbox" id="filter" ng-model="inputs.filter" />
                <button style="width: 120px; margin-left: 20px;" class="btn btn-primary" type="submit" ng-click="design()" >Design</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9" style="padding-top: 10px;" ng-show="results.length">
            <h3>Results</h3>
            <div class="row">
                <div class="col-lg-2 pull-right">
                    <select name="sortkey" ng-model="sortkey" class="form-control"  ng-options="key as value for (key,value) in sortkeys" ng-change="sort()"></select>
                </div>
                <div class="col-lg-2 pull-right" style="text-align: right;">
                   <label>Sort :</label>
                </div>
            </div>
            <div class="row well"  ng-repeat="r in results">
                <div class="col-lg-12">
                    <h4 ng-if="inputs.type === 'ongrid'">
                        {{r.panel.totalkw / 1000 }}kW On-Grid Solar System
                    </h4>
                    <h4 ng-if="inputs.type === 'offgrid'">
                        {{r.panel.totalkw / 1000 }}kW Off-Grid Solar With {{ r.battery.totalah }}AH Battery
                    </h4>
                </div>
                <div class="col-lg-5">
                    <div class="panel panel-success">
                        <div class="panel-heading"  style="padding: 0px 5px; font-weight: bold;"> 
                            <span class="panel-title" style=" font-size: 12px;">Inverter</span> 
                        </div> 
                        <div class="panel-body"> 
                            <div class="col-lg-7">
                                <b>{{ r.inverter }}</b>
                                <table style="margin-top: 10px;">
                                    <tbody>
                                        <tr>
                                            <td>Max Load :</td><td>{{ r.maxload / 1000 }}kW</td>
                                        </tr>
                                        <tr>
                                            <td>Max Solar Panel :</td><td>{{ r.maxpv / 1000 }}kW</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-5">
                                <a href="#" class="thumbnail">
                                    <img src="/img/{{r.inverter}}.jpg" alt="No Image" height="100" style="min-height: 125px;" />
                                </a>
                            </div>
                        </div>
                    </div> 
                    <div class="col-lg-12">
                        Value : {{ r.value }} | Value For Money : {{ r.ranks.valueformoney }}
                    </div>
                </div>
                
                <div class="col-lg-3">
                    <div class="panel panel-success">
                        <div class="panel-heading"  style="padding: 0px 5px; font-weight: bold;"> 
                            <span class="panel-title" style=" font-size: 12px;">Solar Panels</span> 
                        </div> 
                        <div class="panel-body"> 
                            <div>{{ r.panel.series * r.panel.parallel }} x {{ r.panel.name }} | <b>{{ r.panel.totalkw }}W</b></div>
                            <small>
                                Array - {{ r.panel.series }} x {{ r.panel.parallel }}
                            </small>
                        </div>
                    </div> 
                    
                    <div class="panel panel-success" ng-if="inputs.type !== 'ongrid'">
                        <div class="panel-heading"  style="padding: 0px 5px; font-weight: bold;"> 
                            <span class="panel-title" style=" font-size: 12px;">Battery</span> 
                        </div> 
                        <div class="panel-body"> 
                            <div>{{ r.battery.series * r.battery.parallel }} x {{ r.battery.name }} | <b>{{ r.battery.totalah }}AH</b></div>
                            <small>
                                Array - {{ r.battery.series }} x {{ r.battery.parallel }}
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    
                    <div class="col-lg-12">
                        <span class="label label-primary">
                            Value :
                        </span>
                        <div class="progress value">
                            <div ng-if="r.rankpc.pvkw <= 100" class="progress-bar progress-bar-success" style="width: {{r.rankpc.pvkw}}%;">
                              Panel Capacity
                            </div>
                            <div ng-if="r.rankpc.pvkw > 100" class="progress-bar progress-bar-success" style="width: {{10000/r.rankpc.pvkw}}%;">
                              Panel Capacity
                            </div>
                            <div ng-if="r.rankpc.pvkw > 100" class="progress-bar progress-bar-info" style="width: {{(1 - 100/r.rankpc.pvkw)*100 }}%;">
                              
                            </div>
                        </div>
                        <div class="progress value" ng-if="inputs.type !== 'ongrid'">
                            <div class="progress-bar progress-bar-success" style="width: {{r.rankpc.ah}}%;">
                              Battery Capacity
                            </div>
                        </div>
                        <div class="progress value">
                            <div class="progress-bar progress-bar-success" style="width: {{r.rankpc.maxload}}%;">
                              Peak Load
                            </div>
                        </div>
                        <div class="progress value">
                            <div class="progress-bar progress-bar-success" style="width: {{r.rankpc.output}}%;">
                              Output
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12"  style="margin-top: 15px;">
                        <span class="label label-primary" >
                            Cost Share :
                        </span>
                        
                        <div class="progress value">
                            <div class="progress-bar progress-bar-success" style="width: {{r.costpc.panel}}%;">
                               Panel
                            </div>
                            <div class="progress-bar progress-bar-warning" style="width: {{r.costpc.battery}}%;" ng-if="inputs.type !== 'ongrid'">
                               Battery
                            </div>
                            <div class="progress-bar progress-bar-danger" style="width: {{r.costpc.inverter}}%;">
                               Inverter
                            </div>
                            <div class="progress-bar progress-bar-warning-striped" style="width: {{r.costpc.structure}}%;">
                               Structure
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-12" style="margin-top: 15px;">
                        <div class="btn btn-primary col-lg-12">
                            <b> Rs. {{ r.cost }}/-</b>
                            <small>(Tax Included : Rs. {{ r.tax }}/-)</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>