<!DOCTYPE html>
<head>
    <title>Power Saver</title>
    
    <script src="js/angular.min.js"></script>
</head>

<body id="top" ng-app="main">
    
    <div class="container" ng-controller="ps">
        <table>
            <tbody>
                <tr>
                    <td>Load</td><td>{{ load }}W</td>
                </tr>
                <tr>
                    <td>Battery</td><td>{{ bv }}V</td>
                </tr>
                <tr>
                    <td>Sun Power</td><td> {{ pvW }}W</td>
                </tr>
                <tr>
                    <td>Grid</td><td> {{ ip ? "On" : "Off" }}</td>
                </tr>
                <tr>
                    <td>AH</td><td>{{ ah }}</td>
                </tr>
                <tr>
                    <td>Cap</td><td> {{ cap }}%</td>
                </tr>
                <tr>
                    <td>PV Units Total</td><td> {{ kwhPv/1000 }} Units</td>
                </tr>
                <tr>
                    <td>Load Units Total</td><td> {{ kwhLoad/1000 }} Units</td>
                </tr>
                <tr>
                    <td>Pv Units Avg</td><td> {{ avgkwhPv/1000 }} Units</td>
                </tr>
                <tr>
                    <td>Load Units Avg</td><td> {{ avgkwhLoad/1000 }} Units</td>
                </tr>
                <tr>
                    <td>Grid Units Total</td><td> {{ kwhGrid/1000 }} Units</td>
                </tr>
                <tr>
                    <td>Grid Units Avg</td><td> {{ avgkwhGrid/1000 }} Units</td>
                </tr>
                <tr>
                    <td>Time</td><td> {{ time }}</td>
                </tr>
            </tbody>
        </table>
        <form>
            <label>Load</label><input type="text" ng-model="load" />
            <label>Wp</label><input type="text" ng-model="pvPP" />
            <label>Duration</label><input type="text" ng-model="duration" />
            <label>Interval</label><input type="text" ng-model="interval" />
            <label>Battery AH</label><input type="text" ng-model="maxah" />
            <label>Efficiency</label><input type="text" ng-model="eff" />
        </form>
        <button ng-click="start()">Start</button>
        <button ng-click='stop()'>Stop</button>
    </div>
	
   <!-- Java Script
   ================================================== --> 
   <script src="js/d3.v3_4.min.js"></script>
   <script src="js/jquery-2.1.3.min.js"></script>
   <script src="js/main.js"></script>

</body>

</html>